<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="ToggleDisplay">Toggle Display</button>

@code {
    [CascadingParameter]
    public Pages.Counter Counter { get; set; } = default!;

    private async Task IncrementCount()
    {
        await Counter.OnIncrementRequested.InvokeAsync();
    }

    private async Task ToggleDisplay()
    {
        await Counter.OnToggleDisplayRequested.InvokeAsync();
    }
}