@implements IDisposable

<p role="status">Current count: @currentCount</p>

@code {
    [CascadingParameter]
    public Pages.Counter Counter { get; set; } = default!;

    private int currentCount;
    private EventSubscription OnIncrementSubscription;

    protected override void OnInitialized()
    {
        OnIncrementSubscription = Counter.OnIncrementRequested.Subscribe(this, Increment);
    }

    private void Increment()
    {
        currentCount++;
    }

    public void Dispose()
    {
        OnIncrementSubscription.Revoke();
        // Counter.OnIncrementRequested.Unsubscribe(OnIncrementSubscription);
    }
}
