@using BlazorTools.Demo.Components.Counter

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/counter"

@inject ILogger<Counter> Logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@{
    Logger.LogRender();
}

<CascadingValue Value="this" IsFixed="true">

    <Buttons />

    <DisplayToggle>
        <Display />
    </DisplayToggle>

</CascadingValue>

@code {
    public EventCallbackBucket OnCountUpdated { get; } = new();
    public EventCallbackBucket OnDisplayChanged { get; } = new();

    public int CurrentCount { get; set; }

    public bool Display { get; set; } = true;

    // Optional; useful when this component provides methods to child components that can sometimes trigger a render of the whole component
    protected override bool ShouldRender() => false;
}